@charset "utf-8";
html,body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,form,fieldset,legend,input,button,textarea{margin:0;padding:0;}

ul li{list-style: none;}

a{text-decoration: none;color: #666;}

a:hover{color: #E4393C;text-decoration: underline;}

img,fieldset{border: none;}

input{outline: none;}

body{
	background: #f6f6f6;
}

body, div, a, i, h1, h2, h3, h4, p, span, ul, li {
    font-family: "微软雅黑";
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    color: #555;
}

body .fl{
	float: left!important;
}

.w50{
	width: 50px!important;
}

.vm{
	vertical-align: middle;
}

.ml5{
	margin-left: 5px;
}

.ml10{
	margin-left: 10px;
}

#dark{
	background: #ebebeb;
}
.hover{
	border-color:rgba(50,155,241,1) transparent rgba(50,155,241,1) rgba(50,155,241,1)!important;
	z-index: 999999999!important;
	background: white!important;
}
.active{
	background: #E4393C!important;
}
