@charset "utf-8";



.wrapper{
	width: auto;
	height: auto;
}

.wrapper .toolbar{
	position: fixed;
	z-index: 999999;
	width: 45px;
	height: 100%;
	right: 0;
	top: 0;
}
.toolbar .please_login{
	text-align: center;
    width: 45px;
    position: absolute;
    z-index: 1;
    top: 30%;
    background: #333333;
    margin-top: -75px;
    cursor: pointer;
}
.toolbar .please_login>a{
	display: block;
    width: 45px;
    color: #fff;
    text-decoration: none;
}
.avatar{
	width: 30px;
    height: 30px;
    padding: 1px;
    border-radius: 15px;
}
.avatar>img{
	width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-top: 5px;
    margin-left: 8px;
}
.please_login p{
	color: #FFF;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
}
.toolbar .tools{
	position: absolute;
    z-index: 1;
    top: 30%;
    margin-top: -15px;
}
.toolbar .tools>li{
	height: 60px;
    background: #333333;
    margin-top: 10px;
}
.toolbar .tools>li>a{
	font: 12px/20px Arial, "microsoft yahei";
    color: #fff!important;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 45px;
    height: 60px;
    position: relative;
    z-index: 1;
}
.toolbar .tools>li>a>div{
	color: #fff;
}
.side_cart{
	height: 60px;
}
.toolbar .tools>li>a>img{
	width: 30px;
	height: 30px;
	margin-top: 5px;
	vertical-align: middle;
}




.wrapper header{
	height: 30px;
	width: auto;
	background: #333;
}
.wrapper header .header_inner{
	width: 1200px;
	height: 30px;
	margin:0 auto;
}
.wrapper header .header_inner>div{
	float:left;
}
.wrapper header .header_inner .favorite{
	line-height: 30px;
	height: 30px;
	width: 80px;
}
.wrapper header .header_inner .favorite .favorite_a .spin{
	transition: all 0.4s ease;
	vertical-align: middle;
}
.wrapper header .header_inner .favorite .favorite_a:hover .spin{
	transform: rotate(360deg);
	transform-origin: center;
}
.wrapper header .header_inner .favorite .favorite_a{
	color: white;	
}
.wrapper header .header_inner .favorite .favorite_a:hover{
	text-decoration: underline;
}

.wrapper header .header_inner .user_entry{
	height: 30px;
	line-height: 30px;
	color: white;
}
.wrapper header .header_inner .user_entry a{
	color: #f00;
}
.wrapper header .header_inner .user_entry a:hover{
	text-decoration: underline;
}
.wrapper header .header_inner .user_entry .now{
	color: white;
}

.wrapper header .header_inner .quick_menu{
	float: right;
	height: 30px;
	line-height: 30px;
}
.wrapper header .header_inner .quick_menu>ul{
		
}
.wrapper header .header_inner .quick_menu>ul>li{
	float: left;
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	position: relative;
}
.wrapper header .header_inner .quick_menu>ul>li>i{
	display: inline-block;
	background: url(../img/top_bg.png) no-repeat 0 0;
	vertical-align: middle;
	width: 6px;
	height: 3px;
	margin-left: 6px;
	transition: all 0.2s ease-in;
}
.wrapper header .header_inner .quick_menu>ul>li>a{
	color: white;
}
.wrapper header .header_inner .quick_menu>ul>li>ul{
	display: none;
	width: 80px;
	position: absolute;
	top: 30px;
	left: 0;
	background: #333;
	z-index: 10000;
}
.wrapper header .header_inner .quick_menu>ul>li>ul>li{
	line-height: 30px;
	height: 30px;
	width: 80px;
}
.wrapper header .header_inner .quick_menu>ul>li>ul>li:hover{
	background: #ccc;
}
.wrapper header .header_inner .quick_menu>ul>li>ul>li:hover a{
	color: #f00;
}
.wrapper header .header_inner .quick_menu>ul>li>ul>li>a{
	color: white;
}

.wrapper .wrapper_nav{
	width: auto;
	height: 100px;
	background: white;
	margin:0 auto;
}
.wrapper .nav{
	width: 1200px;
	height: 100px;
	margin:0 auto;
}
.wrapper .nav .logo{
	margin-top: 15px;
	margin-left: 0;
	width: 170px;
	height: 69px;
	cursor: pointer;
	background: url(../img/05191349003636269.png) no-repeat center left;
	float: left;
}
.wrapper .nav .logo>span{
	display: none;
}
.wrapper .nav .nav_menu{
	height: 100px;	
	float: left;
}
.wrapper .nav .nav_menu>li{
	line-height: 100px;
	height: 100px;
	float: left;
}
.wrapper .nav .nav_menu>li>a{
	font-size: 14px;
	padding:10px 20px;
}
.wrapper .nav .nav_menu>li>a:hover{
	color: #f00;
	text-decoration: underline;
}
.wrapper .nav .search_wrapper{
	width: 460px;
	height: 40px;
	border:2px solid #333;
	float: right;
	margin-top: 20px;
}
.wrapper .nav .search_wrapper .search_inner .cate{
	width: 80px;
	height: 40px;
	float: left;
}
.wrapper .nav .search_wrapper .search_inner .cate #cate_inner{
	width: 50px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	position: relative;
	cursor: pointer;
}
.wrapper .nav .search_wrapper .search_inner .cate #cate_inner .cate_ul{
	display: none;
	width: 60px;
	background: #333;
	position: absolute;
	top: 42px;
	left: -2px;
	z-index: 999;
}
.wrapper .nav .search_wrapper .search_inner .cate #cate_inner .cate_ul>li{
	width: 60px;
	height: 40px;
	line-height: 40px;
}
.wrapper .nav .search_wrapper .search_inner .cate #cate_inner .cate_ul>li>a{
	display: inline-block;
	width: 60px;
	height: 40px;
	line-height: 40px;
	color: white;
}
.wrapper .nav .search_wrapper .search_inner .cate #cate_inner .cate_ul>li>a:hover{
	color: #f00;
}

.wrapper .nav .search_wrapper .search_inner .cate .cate_slide{
	width: 26px;
	height: 40px;
	background: url(../img/search_bg.png) no-repeat center right;
	float: left;
}
.wrapper .nav .search_wrapper .search_inner #keyword{
	border: none;
	height: 24px;
	width: 60%;
	color: #555;
	font-size: 12px;
	line-height: 24px;
	float: left;
	padding:8px 0;
}
.wrapper .nav .search_wrapper .search_inner #btn{
	border: none;
	width: 80px;
	height: 40px;
	float: right;
	color: white;
	background: #333;
	font-weight: 600;
	cursor: pointer;
}

.wrapper .wrapper_banner{
	margin:0 auto;
	height: 481px;
	width: 100%;
	margin-top: 39px;
	overflow: hidden;
}
.wrapper .wrapper_banner .banner_inner{
	height: 481px;
	width: 1900px;
	margin:0 auto;
}
.wrapper .wrapper_banner .banner_inner .swiper-container{
	width: 1900px;
	height: 481px;
}
.wrapper .wrapper_banner .banner_inner .swiper-container .swiper-wrapper .swiper-slide{
	width: 1900px;
	position: relative;
}
.wrapper .wrapper_banner .banner_inner .swiper-container .swiper-wrapper .swiper-slide img{
	display: inline-block;
	position: absolute;
	top: 0;
	left: -335px;
}

.wrapper .category_layout{
	width: 100%;
	height: auto;
    position: absolute;
    z-index: 99;
    clear: both;
    left: 0;
    top: 130px;
}
.wrapper .category_layout .category_wrapper{
	width: 1200px;
	height: auto;
	margin: auto;
}
.category_layout .category_wrapper .category_title{
	border-color: rgba(50,155,241,1);
    width: 210px;
    height: 39px;
  /*  float: left;*/
    box-shadow: 1px 1px 5px rgba(55, 55, 55, 0.5);
}
.category_title .inner_title{
	line-height: 26px;
    height: 28px;
    background-color: #da1212!important;
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
}
.inner_title>a{
	font-size: 16px;
    font-weight: normal;
    color: #FFF!important;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    float: left;
    margin-left: 4px;	
}
.arrow{
	font-size: 0px;
    line-height: 0;
    width: 0px;
    height: 0px;
    float: right;
    margin: 8px 4px 0 0;
    border-width: 5px;
    border-color: #FFF transparent transparent transparent;
    border-style: solid dashed dashed dashed;
}
.category_content{
	background: rgba(0, 0, 0, 0.1);
    width: 210px;
    padding: 0 1px 1px;
    margin-left: -1px;
    z-index: 1000;	
}
.category_content .category_menu{
	background-color: #FFF;
    box-shadow: 1px 1px 5px rgba(55, 55, 55, 0.5);
    padding-bottom: 2px;
    opacity: 0.9;
}
.category_menu>li{
	width: 210px;
    height: 59px;
    border-top: solid 1px #FFF;
  	position: relative;
    z-index: 1;
    zoom: 1;
}
.things{
	border-style: solid;
    border-width: 1px 0 1px 4px;
    border-color: transparent;
    display: block;
    width: 178px;
    height: 35px;
    padding: 12px 15px;
    position: absolute;
    z-index: 1;
    top: -1px;
    left: -1px;
    opacity: 0.9;
}
.things>h4{
	font-weight: 600;
    line-height: 16px;
    color: #333;
    height: 16px;
    float: left;
}
.things>h4>a{
	color: #151515;
}
.things .up_clear{
	line-height: 16px;
    width: 168px;
    height: 16px;
    float: left;
    clear: both;
    margin-top: 4px;
    overflow: hidden;
}
.things .arrow_2{
	background: url(../img/top_bg.png) no-repeat -150px -10px;
    width: 5px;
    height: 9px;
    float: right;
}
.subcategory{
	display: none;
	position: relative;
	height: 235px;
	top: 0;
	background-color: white;
    width: 760px;
    padding: 0 7px;
    border: solid 1px rgba(50,155,241,1);
    z-index: 1;
    left: 210px;
    height: 460px !important;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 10px;
}
.subcategory .sub_left{
	float: left;
    width: 550px;
    height: 460px !important;
    overflow: hidden !important;
}
.sub_left .cate_brick{
	width: 550px;
    margin: 8px;
    float: left;
}
.sub_left .cate_brick>dt{
	line-height: 24px;
    border-bottom: solid 1px #ccc;	
}
.sub_left .cate_brick>dt>h3{
	
    color: #333;
}
.sub_left .cate_brick>dt>h3>a{
	color: rgba(50,155,241,1);
	font-weight: bold;
    font-size: 14px;
}
.subcategory .sub_right{
	width: 180px;
    float: right;
}
.sub_right>ul{
	width: 180px;
	height: auto;
}
.sub_right>ul>li{
	height: 80px !important;
    width: 180px !important;
    margin-bottom: 10px;
    margin-top: 10px;
    border-top: solid 1px #FFF;
    position: relative;
    z-index: 1;
    zoom: 1;
}
.sub_right>ul>li>a>img{
	max-width: 180px !important;
    max-height: 80px !important;
}





.wrapper .wrapper_sale{
	margin-top: 15px;
	width: auto;
	height: 408px;
}
.wrapper .wrapper_sale .sale_inner{
	margin:0 auto;
	width: 1200px;
	height: 408px;
}
.wrapper .wrapper_sale .sale_inner .sale_nav{
	width: 1200px;
	height: 40px;
	border-bottom: 2px solid #f0f0f0;
}
.wrapper .wrapper_sale .sale_inner .sale_nav>li{
	float: left;
	width: 20%;
	height: 40px;
	cursor: pointer;
	text-align: center;
	position: relative;
}
.wrapper .wrapper_sale .sale_inner .sale_nav>li>h3{
	font-size: 16px;
	line-height: 38px;
	color: #666;
}
.icon-arrow-up{
	display: none;
	position: absolute;
	bottom:-11px;
	left:108px;
	font-size: 24px!important;
	color: #D93600;
}
.selected{
	color: #D93600;
	border-bottom: 2px solid #D93600;
}

.wrapper .wrapper_sale .sale_inner .sale_panel{
	width: 1200px;
	height: 365px;
}
.wrapper_sale .sale_inner .sale_panel>ul{
	width: 1200px;
	height: 365px;
	background: white;
}
.wrapper_sale .sale_inner .sale_panel>ul>li{
	float: left;
	width: 279px;
	height: 350px;
	padding-top: 15px;
	margin:0 10px;
	border-left: 1px dotted #f0f0f0;
}
.sale_inner .sale_panel>ul>li>dl{
	width: 260px;
	height:auto;
	margin:0 auto;
}
.sale_inner .sale_panel>ul>li>dl>dt{
	width: 260px;
	height: 260px;
}
.sale_panel>ul>li>dl>dt>a{
	display: table-cell;
	width: 260px;
	height: 260px;
	vertical-align: middle;
	text-align: center;
}
.sale_panel>ul>li>dl>dt>a>img{
	max-width: 260px;
	max-height: 260px;
	vertical-align: middle;
	text-align: center;
}
.sale_panel>ul>li>dl .goods_name{
	width: 270px;
	height: 32px;
	line-height: 16px;
	font-size: 14px;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
}
.sale_panel>ul>li>dl .goods_price{
	line-height: 20px;
	color: #999;
}
.goods_price>em{
	font-size: 14px;
	vertical-align: middle;
	font-weight: 600;
	color: #c00;
	font-style: normal;
}

.wrapper .wrapper_ad{
	margin:0 auto;
	width: 1200px;
	height: 420px;
	margin-top: 15px;
}
.wrapper .wrapper_ad .ad_banner{
	border-bottom: 2px solid #000;
    font-size: 24px;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: #222222;
    position: relative;
    font-weight: 600;
}
.ad_banner>span{
	width: 60px;
    position: absolute;
    right: 0;
    bottom: 14px;
}

.wrapper .wrapper_ad .ad_inner{
	width: 1200px;
	height: auto;
}
.wrapper .wrapper_ad .ad_inner .ad_item{
	overflow: hidden;
	position: relative;
	float: left;
    background-color: #fff;
    border: 2px solid #fff;
    width: 290px;
    height: 100%;
    margin-right: 8px;
}
#clear{
	margin-right: 0px;
}

.floor_1f{
	width: 1200px;
	height: 672px;
	margin:0 auto;
	margin-bottom: 30px;
}
.floor_title{
	position: relative;
	padding-bottom: 10px;
	padding-top: 15px;
	margin-bottom: 15px;
}
.floor_title>h1{
	font-size: 24px;
	color: #79796A;
}
.floor_title>h1>b{
	color: #79796A;
}
.floor_box{
	width: 1200px;
	height: 605px;
}
.floor_box .box_left{
	float: left;
}
.floor_box .box_left>img{
	width: 330px;
	height: 605px;
}
.floor_box .box_right{
	float: right;
	width: 860px;
	height: 605px;
}
.floor_box .box_right>ul{
	width: auto;
	height: auto;
}
.floor_box .box_right>ul>li{
	float: left;
	width: 244px;
	padding: 15px;
	margin: 0px 5px 10px 5px;
    background-color: #fff;
}
.box_right>ul>li .item_pic{
	width: 244px;
	height: 200px;
	text-align: center;
}
.box_right>ul>li .item_pic>img{
	width: 200px;
	height: 200px;
}
.box_right>ul>li .item_intro{
	padding-bottom: 10px;
    padding-top: 10px;
}
.box_right>ul>li .item_name{
	font-size: 14px;
    text-align: center;
    height: 19px;
    padding: 0px 5px;
    overflow: hidden;
}
.box_right>ul>li:hover .item_name{
	color: #F00;
}
.box_right>ul>li .item_price{
	color: #F00;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}


footer{
	width: 100%;
	height: auto;
	border-top: solid 1px #DFDFDF;
}
footer .faq{
	margin:0 auto;
	width: 1200px;
	height: 60px;
	margin-top: 20px;
	border-bottom: 1px solid #c5c5c5;
	overflow: hidden;
}
footer .faq>ul{
	width: 1200px;
	height: 50px;
	padding-bottom: 10px;
}
footer .faq>ul>li{
	float: left;
	width: 280px;
	height: 50px;
	margin:0 10px;
	font-size: 12px;
    vertical-align: top;
}
.faq_icon{
	float: left;
	width: 50px;
	height: 50px;
}
.faq>ul>li>img{
	width: 50px;
	height: 50px;
}
.faq>ul>li>dl{
	float: right;
	width: 220px;
	height: 50px;
}
.faq>ul>li>dl>dt{
	font: 16px/20px "microsoft yahei";
    color: #0F0F0F;
    margin: 5px 0;
}
.faq>ul>li>dl>dd{
	color: #181818; 
	font: 12px/20px "microsoft yahei";
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    clear: both;
    overflow: hidden;
}

footer .foot_bottom{
	width: 1200px;
	margin:0 auto;
}
footer .details{
	width: 1200px;
	height: auto;	
}
.details>ul{
	width: 980px;
	float: left;
	white-space: nowrap;
    padding: 0 0 20px 0;
    margin-left: -1%;
}
.details>ul>li{
	float: left;
	font-size: 12px;
    width: 16%;
}
footer .details>ul>li>dl{
	display: block;
    width: 90%;
    margin: 0 auto;
}
.details>ul>li>dl>dt{
	font: 16px/20px "microsoft yahei";
    color: #0F0F0F;
    padding: 10px 5px;
    margin: 5px 0;
}
.details>ul>li>dl>dd{
	font: 12px/20px "microsoft yahei";
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    clear: both;
    padding: 2px 5px;
    overflow: hidden;
}
.details>ul>li>dl>dd>i{
	font-size: 0;
    line-height: 0;
    background: url(../img/top_bg.png) no-repeat -80px -10px;
    vertical-align: middle;
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-right: 5px;
}
.details>ul>li>dl>dd>a{
	color: #0F0F0F;
}

.foot-contact{
	width: 200px;
    float: right;
    margin-top: 30px;
}
.foot-contact>h1{
	font-size: 24px;
    margin-bottom: 10px;
}
.foot-contact>p{
	font-size: 16px;
    margin-bottom: 10px;
    line-height: 20px;
}
.foot-contact>h2{
	padding: 5px;
    border: 2px solid #da1212;
    color: #da1212;
    font-weight: bold;
}
.foot-kf{
	display: inline-block;
    width: 23px;
    height: 20px;
    background: url(../img/foot-kf.png) no-repeat;
    background-position: center center;
    float: left;
}
#footer{
	width: 1200px;
	font-size: 12px;
    background-color: #f5f5f5;
    color: #0F0F0F;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
    overflow: hidden;
}
#footer>p{
	color: #0F0F0F;
    word-spacing: 5px;
    padding: 10px 0;
}
#footer>a{
	color: #0F0F0F;
}
#footer>p>a{
	color: #0F0F0F;
}

